.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 10%;
}

 
@media (min-width: 768px) {
    .container {
      padding: 4rem 20%;
    }
  }
  

.container * {
    padding: 0.5rem 0;
}

.container li {
  list-style-type: none;
  font-size:  1.2rem;
}
