.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 10%;
}

 
@media (min-width: 768px) {
    .container {
      padding: 4rem 20%;
    }
  }
  

.container * {
    padding: 1rem 0;
}
